<article class='publication-item'>
  <aside>
    <strong>{{score}}</strong>
    <form method='POST' action='/publication/{{_id}}/vote'>
      <button>
        ⬆️
      </button>
    </form>
  </aside>
  {{#if image}}
  <figure>
    <img src='{{image}}' alt='{{title}}' />
  </figure>
  {{/if}}
  <section>
    <a href='/publication/{{_id}}'>
      <h3>{{title}}</h3>
      <span>{{creator.name}}</span>
    </a>
    <br />
    <a href='{{url}}' target='_blank'>Visit Resource</a>
    <span>{{{ date publishingDate }}}</span>
  </section>
</article>